.cardUser {
  @media (max-width: 520px) {
    margin-top: 97px;
  }
  // .cardUser__container

  &__container {
    @media (max-width: 520px) {
      padding-left: 28px;
    }
  }

  // .cardUser__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .cardUser__title

  &__title {
    h5 {
      @media (max-width: 520px) {
        font-size: 18px;
        padding-left: 0;
      }
    }
  }

  // .cardUser__button

  &__button {
  }

  // .cardUser__swiper

  &__swiper {
    margin-top: 48px;

    @media(max-width: 991px) {
      margin-bottom: 41px;
    }
 
    @media (max-width: 520px) {
      margin-top: 31px;
    }
  }

  // .cardUser__wrapper

  &__wrapper {
    border: 1px solid rgba(255, 86, 246, 0.51);
    width: 440px;

    @media (max-width: 520px) {
      width: 303px;
    }
  }

  // .cardUser__img

  &__img {
    img {
      width: 100%;
    }
  }

  // .cardUser__content-wrapper

  &__content-wrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
  }

  // .cardUser__content-icon

  &__content-icon {
    position: absolute;
    top: 105px;
    left: 142px;

    @media (max-width: 520px) {
      top: 73px;
      left: 95px;
    }

    img {
      @media (max-width: 520px) {
        width: 112px;
      }
    }
  }

  // .cardUser__name

  &__name {
    padding-top: 60px;
    padding-left: 5px;
    text-align: center;

    @media (max-width: 520px) {
      padding-top: 41px;
    }
    h5 {
      font-family: Rajdhani;
      font-size: 24.32px;
      font-style: normal;
      font-weight: 500;
      line-height: 46.08px;

      @media (max-width: 520px) {
        font-size: 16.839px;
        line-height: 31.906px;
      }
    }
  }

  &__mail {
    display: flex;
    justify-content: center;
    gap: 7px;
    position: relative;
    top: -15px;
    left: 9px;

    @media (max-width: 520px) {
      top: 24px;
    }

    p {
      font-size: 20.16px;
      font-weight: 400;
      line-height: 46.08px;

      @media (max-width: 520px) {
        font-size: 13.959px;
        line-height: 31.906px;
      }
    }
  }

  &__ok-icon {
    @media(max-width: 520px) {
      padding-left: 0;
    }

    img {
      @media(max-width: 520px) {
        width: 13px;
        padding-top: 10px;
        position: relative;
        right: 4px;
      }
    }
  }

  &__follower-wrapper {
    display: flex;
    padding-left: 60px;
    gap: 66px;
    position: relative;
    bottom: 6px;

    @media (max-width: 520px) {
      gap: 44px;
      padding-top: 37px;
      padding-left: 36px;
    }
  }

  &__follower {
    font-family: Rajdhani;
    font-size: 31.69px;
    font-style: normal;
    font-weight: 600;
    line-height: 63.379px;

    @media (max-width: 520px) {
      font-size: 21.942px;
      line-height: 43.883px;
    }

    p {
      font-family: Rajdhani;
      font-size: 19.806px;
      font-style: normal;
      font-weight: 500;
      line-height: 63.379px;
      position: relative;
      bottom: 33px;
      right: 15px;

      @media (max-width: 520px) {
        font-size: 13.714px;
        line-height: 43.883px;
        bottom: 22px;
        right: 9px;
      }
    }
  }

  &__follower-btn {
    width: 234.84px;
    height: 50.851px;
    padding-top: 0;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 5px;
    bottom: 18px;
    padding-bottom: 73px;

    @media (max-width: 520px) {
      width: 167.84px;
      padding-bottom: 0;
    }

    span {
      font-family: Rajdhani;
      font-size: 19.898px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (max-width: 520px) {
        font-size: 13.777px;
      }
    }
  }

  &__follower-button {
    padding: 12px 18px 17px 17px;

    @media (max-width: 520px) {
      padding: 12px 18px 14px 12px;
    }
  }
}
