.collection {
  margin-top: 208px;
  margin-bottom: 30px;

  @media (max-width: 520px) {
    margin-top: 109px;
  }
  // .collection__container

  &__container {
  }

  // .collection__title

  &__title {
    position: relative;
    h5 {
      font-family: Orbitron;
      font-size: 26.531px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 5px;

      @media (max-width: 520px) {
        font-size: 16px;
        padding-left: 12px;
      }
    }
  }

  &__title-blur {
    position: absolute;
    top: 0;
    left: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    span {
      width: 300px;
      height: 70%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.06;
      z-index: -1;
    }
  }

  // .collection__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    position: relative;

    @media (max-width: 620px) {
      flex-direction: column;
    }
    @media (max-width: 520px) {
      margin-top: 21px;
    }
  }

  &__inner-blur {
    position: absolute;
    bottom: 39px;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    span {
      width: 300px;
      height: 70%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.04;
      z-index: -1;
    }
  }

  // .collection__inner-btn

  &__inner-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 790px;
    height: 530px;
    row-gap: 44px;
    column-gap: 35px;
    button {
      width: 368.118px;
      height: 98.386px;
      background: #20083b;
      border: 1px solid rgba(255, 86, 246, 0.51);
      border-radius: 2.211px;
      backdrop-filter: blur(106.12408447265625px);
      font-family: Orbitron;
      font-size: 26.531px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: rgba(255, 255, 255, 0.5);

      @media (max-width: 991px) {
        font-size: 10.992px;
        width: 152.517px;
        height: 40.763px;
      }
    }
    @media (max-width: 991px) {
      width: 527px;
    }

    @media (max-width: 520px) {
      width: 341px;
      height: 223px;
      row-gap: 18px;
      column-gap: 0;
    }
  }

  // .collection__inner-box

  &__inner-box {
  }

  // .collection__item

  &__item {
  }

  // .collection__item-img

  &__item-img {
    position: relative;
    top: -130px;
    right: 38px;

    @media (max-width: 1250px) {
      top: 60px;
      right: 15px;
    }

    @media (max-width: 620px) {
      right: 0;
      text-align: center;
      padding-top: 40px;
    }

    @media (max-width: 520px) {
        top: -15px;
      }

    img {
      @media (max-width: 1250px) {
        width: 186px;
      }
    }
  }

  &__button-btn {
    left: 316px;
    font-size: 19px;
    top: 3px;

    &::before {
      font-size: 20px;
      right: 11px;

      @media (max-width: 520px) {
        font-size: 9px;
        right: 50px;
      }
    }

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 630px) {
      left: 43px;
    }

    @media (max-width: 520px) {
      font-size: 8.244px;
      left: 157px;
    }
  }
}

.mixitup-control-active {
  background: linear-gradient(
    270deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
}

.collection__inner-btn button.active {
  color: #fff;
  background: linear-gradient(
    130deg,
    #ff56f6 18.31%,
    #b936ee 43.26%,
    #3bace2 85.44%,
    #406aff 100%
  );
}
