.cripto {
  margin-bottom: 217px;

  @media(max-width:376px) {
    margin-bottom: 11px;
  }
  // .cripto__container

  &__container {
    @media(max-width:376px) {
      padding: 0;
    }
  }

  // .cripto__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1140px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 26px;
      margin-top: 160px;
    } 

    @media (max-width: 376px) {
      margin-top: 0;
      justify-content: space-between;
    }   
  }

  &__wrapper-top {
    display: flex;
    gap: 57px;
    padding: 5px;
  }

  &__wrapper-bottom {
    display: flex;
    gap: 27px;
  }

  &__wrapper-desktop {
    @media(max-width:376px) {
      display: none;
    }
  }

  &__eth-desktop {
    padding-top: 3px;
  }

  &__blockchain-desktop {
    padding-top: 2px;
  }

  &__bitmex-desktop {
    padding-top: 20px;
  }

  // .cripto__logo

  &__logo {
    img {
      @media(max-width:376px) {
        width: 143px;
      }
    }
  }

  &__logo-ethereum {
    img {
      @media(max-width:376px) {
        width: 92px;
      }
    }
  }

  &__logo-blockchain {
    img {
      @media(max-width:376px) {
        width: 183px;
      }
    }
  }

  &__logo-bitmex {
    padding-top: 5px;
    img {
      @media(max-width:376px) {
        width: 106px;
      }
    }
  }
}
