.hero {
  margin-top: 68px;
  margin-bottom: 118px;

  @media (max-width: 376px) {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  // .hero__container

  &__container {
    @media (max-width: 376px) {
      padding: 25px;
    }
  }

  // .hero__wrapper

  &__wrapper {
    display: flex;
    gap: 147px;

    @media (max-width: 1440px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    @media (max-width: 500px) {
      align-items: normal;
    }

    @media (max-width: 376px) {
      gap: 30px;
    }
  }

  // .hero__left

  &__left {
  }

  // .hero__left-title

  &__left-title {
    max-width: 755px;
    padding-left: 5px;
    h1 {
      font-family: League Spartan;
      font-size: 71.328px;
      font-style: normal;
      font-weight: 600;
      line-height: 127.4%;
      letter-spacing: 5px;

      @media (max-width: 376px) {
        font-family: Lato;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 152.4%;
        letter-spacing: 2px;
      }

      span {
        background: linear-gradient(86deg, #ff56f6 0%, #42a6e3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  // .hero__left-text

  &__left-text {
    max-width: 658px;
    padding-top: 20px;

    @media (max-width: 376px) {
      padding-top: 24px;
    }
    p {
      font-family: Rajdhani;
      font-size: 26.531px;
      font-style: normal;
      font-weight: 400;
      line-height: 44.218px;

      @media (max-width: 376px) {
        font-size: 14px;
        line-height: 23.218px;
        padding: 5px;
      }
    }
  }

  // .hero__left-button

  &__left-button {
    display: flex;
    gap: 36px;
    align-items: center;
    padding-top: 42px;

    @media (max-width: 376px) {
      padding-top: 28px;
      padding-left: 5px;
      gap: 20px;
    }

    p {
      background: linear-gradient(86deg, #42a6e3 0%, #ff56f6 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;

      @media (max-width: 376px) {
        font-size: 12px;
      }
    }
  }

  // .hero__left-quantity

  &__left-quantity {
    padding-top: 68px;
    display: flex;
    gap: 53px;

    @media (max-width: 376px) {
      padding-top: 39px;
      padding-left: 5px;
      gap: 44px;
    }
  }

  &__cripto {
    display: none;

    @media (max-width: 376px) {
      display: block;
      margin-bottom: 7px;
    }
  }

  // .hero__right

  &__right {
    @media (max-width: 768px) {
      max-width: 360px;
    }

    @media (max-width: 376px) {
      max-width: 375px;
    }
  }

  &__right-desktop {
    @media (max-width: 376px) {
      display: none;
    }
  }

  &__right-mobile {
    @media (min-width: 376px) {
      display: none;
    }
  }

  // .hero__right-img

  &__right-img {
    position: relative;
    padding-top: 15px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
      max-width: 336px;
    }

    @media (max-width: 376px) {
      max-width: 327px;
      margin: 0 auto;
    }
    img {
      border-radius: 19px;
      clip-path: polygon(21% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 13%);

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__right-line {
    position: absolute;
    top: 317px;
    left: -175px;
  }

  &__right-blur {
    position: absolute;
    right: 468px;
    top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    span {
      width: 100px;
      height: 40%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.04;
      z-index: -1;
    }
  }

  &__right-blur2 {
    position: absolute;
    right: 130px;
    top: -83px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    span {
      width: 100px;
      height: 40%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.05;
      z-index: -1;
    }
  }

  &__button {
    width: 250px;
    height: 64px;
    padding: 21px 0 21px 39px;
    text-decoration: none;
    gap: 11px;
    clip-path: polygon(18% 0, 100% 0, 100% 77%, 88% 100%, 0 100%, 0 27%);
    &::before {
      clip-path: polygon(18% 0, 100% 0, 100% 77%, 88% 100%, 0 100%, 0 29%);
    }
    @media (max-width: 376px) {
      width: 133.309px;
      height: 34.212px;
      padding: 15px 0 16px 14px;
    }
  }

  .svg {
    transition: all 0.4s;

    @media (max-width: 376px) {
      width: 27.724px;
      height: 8.258px;
    }
  }

  .quantity {
    // .quantity__artwork

    &__wrapper {
      display: flex;
      gap: 70px;

      @media (max-width: 376px) {
        gap: 33px;
      }
    }

    &__artwork {
      position: relative;
      font-family: Aldrich;
      font-size: 39.797px;
      font-style: normal;
      font-weight: 400;
      line-height: 53.062px; /* 133.333% */
      letter-spacing: 0.221px;

      @media (max-width: 510px) {
        font-size: 18px;
        line-height: 28.313px; /* 157.296% */
        letter-spacing: 0.118px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 128px;
        transform: translateX(-50%);
        height: 82%;
        width: 1px;
        background-color: #d9dbe1;

        @media (max-width: 510px) {
          display: none;
        }
      }

      p {
        font-size: 17.687px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.109px; /* 125% */
        letter-spacing: 0.221px;
      }
    }

    &__blur {
      position: absolute;
      right: -153px;
      top: -171px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;

      span {
        width: 300px;
        height: 70%;
        background: #ff56f6;
        border-radius: 50%;
        box-shadow: 0 0 40px 50px #ff56f6;
        opacity: 0.05;
        z-index: -1;
      }
    }

    // .quantity__auctions

    &__auctions {
      position: relative;
      font-family: Aldrich;
      font-size: 39.797px;
      font-style: normal;
      font-weight: 400;
      line-height: 53.062px; /* 133.333% */
      letter-spacing: 0.221px;

      @media (max-width: 510px) {
        font-size: 18px;
        line-height: 28.313px; /* 157.296% */
        letter-spacing: 0.118px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: 128px;
        transform: translateX(-50%);
        height: 83%;
        width: 1px;
        background-color: #d9dbe1;

        @media (max-width: 510px) {
          display: none;
        }
      }

      p {
        font-size: 17.687px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.109px; /* 125% */
        letter-spacing: 0.221px;
      }
    }

    // .quantity__artists

    &__artists {
      font-family: Aldrich;
      font-size: 39.797px;
      font-style: normal;
      font-weight: 400;
      line-height: 53.062px; /* 133.333% */
      letter-spacing: 0.221px;

      @media (max-width: 510px) {
        font-size: 18px;
        line-height: 28.313px; /* 157.296% */
        letter-spacing: 0.118px;
      }

      p {
        font-size: 17.687px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.109px; /* 125% */
        letter-spacing: 0.221px;
      }
    }
  }
}
