.nft {
  @media (max-width: 376px) {
    margin-top: 231px;
  }
  // .nft__container

  &__container {
    position: relative;
    @media (max-width: 376px) {
      padding-left: 25px;
    }
  }

  // .nft__title-wrapper

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: 376px) {
      margin-bottom: 35px;
    }
  }
  &__swiper {
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    @media (max-width: 567px) {
      margin-bottom: 39px;
    }
  }

  // .nft__title

  &__title {
    padding-left: 2px;

    @media (max-width: 376px) {
      padding-left: 0;
    }
    h3 {
      font-size: 26.531px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 376px) {
        font-size: 16px;
      }
    }
  }
  &__button {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    padding-right: 80px;
    color: #fff;
    font-family: Orbitron;
    font-size: 26.531px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &::before {
      position: absolute;
      font-size: 16px;
      right: 13px;
    }
    @media (max-width: 991px) {
      display: none;
    }

    @media (min-width: 920px) {
      &:hover {
        &::before {
          right: 5px;
          color: #ff56f6;
          transition: all 0.2s ease;
        }

        color: #ff56f6;
        transition: all 0.2s ease;
      }
    }
  }

  // .nft__button

  &__swiper-button {
    display: none;
    @media (max-width: 991px) {
      display: flex;
      margin: 0 auto;
      svg {
        width: 27.724px;
        height: 8.258px;
      }
      &::before {
        background: #20083b;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
      }
    }
  }

  &__bottom-button {
    display: none;

    @media (max-width: 1440px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 376px) {
      padding-top: 38px;
      padding-right: 16px;
    }
  }

  &__bottom-btn {
    @media (max-width: 376px) {
      padding: 16px 0 20px 14px;
      gap: 7px;
      background: unset;
    }

    &::before {
      @media (max-width: 376px) {
        background: unset;
      }
    }

    svg {
      @media (max-width: 376px) {
        width: 30px;
        padding-top: 2px;
      }
    }
  }

  &__slide-img {
    img {
      @media (max-width: 376px) {
        width: 304px;
      }
    }
  }
}

.icon-arrowShort {
}

.nftCard {
  &__wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 440px;
    clip-path: unset;
    border-radius: unset;
    padding: 31px 14px 10px 26px;
    height: 234px;
    gap: 19px;

    @media (max-width: 376px) {
      width: 304px;
      padding: 25px 12px 10px 8px;
      gap: 36px;
      height: 166px;
    }
  }

  &__wrapper-center {
    gap: 29px;

    @media (max-width: 376px) {
      gap: 39px;
    }
  }

  &__wrapper-right {
    gap: 57px;

    @media (max-width: 376px) {
      gap: 42px;
    }
  }

  &__left-title {
    padding-left: 8px;
    h5 {
      font-size: 23.04px;
      line-height: 46.08px;

      @media (max-width: 376px) {
        font-size: 13.601px;
        line-height: 27.201px;
      }
    }
  }

  &__user {
    @media (max-width: 376px) {
      padding-top: 20px;
    }
  }

  &__user-userName {
    p {
      font-size: 20.16px;
      line-height: 46.08px;

      @media (max-width: 376px) {
        font-size: 11.901px;
        line-height: 27.201px;
      }
    }
  }

  &__ok-icon {
    @media (max-width: 376px) {
      padding-left: 11px;
    }

    img {
      padding-top: 13px;

      @media (max-width: 376px) {
        width: 11px;
        padding-top: 8px;
      }
    }
  }

  &__text {
    padding-top: 7px;
    padding-left: 8px;
    height: 20px;

    @media (max-width: 376px) {
      padding-top: 11px;
      padding-left: 12px;
    }
    p {
      font-size: 14.4px;
      line-height: 46.08px;

      @media (max-width: 376px) {
        font-size: 8.5px;
        line-height: 27.201px;
      }
    }
  }

  &__user-icon {
    padding-top: 3px;
    padding-left: 8px;

    @media (max-width: 376px) {
      padding-left: 12px;
    }

    img {
      @media (max-width: 376px) {
        width: 24px;
      }
    }
  }

  &__eth {
    padding-top: 20px;
    position: static;

    @media (max-width: 376px) {
      padding-top: 12px;
      padding-left: 8px;
    }

    svg {
      @media (max-width: 376px) {
        width: 17.58px;
      }
    }
    p {
      font-size: 12.659px;

      @media (max-width: 376px) {
        font-size: 7.472px;
      }

      span {
        font-size: 14.4px;
        line-height: 46.08px;
        padding-left: 5px;

        @media (max-width: 376px) {
          font-size: 8.5px;
          line-height: 27.201px;
        }
      }
    }
  }

  &__right-title {
    padding-left: 16px;
    padding-top: 0;
    height: 31px;

    @media (max-width: 376px) {
      height: 11px;
      padding-left: 10px;
    }

    p {
      font-size: 14.4px;
      line-height: 46.08px;

      @media (max-width: 376px) {
        font-size: 8.5px;
        line-height: 27.201px;
      }
    }
  }

  &__right-title-center {
    padding-left: 12px;
  }

  &__right-time {
    padding-left: 15px;

    @media (max-width: 376px) {
      padding-left: 10px;
    }
  }

  &__right-time-center {
    padding-left: 11px;
  }

  &__right-button {
    padding-top: 20px;

    @media (max-width: 376px) {
      padding-top: 5px;
    }
  }

  &__button {
    padding: 12px 15px 12px 17px;
    gap: 13px;

    @media (max-width: 376px) {
      padding: 9px 10px 11px 10px;
      border-radius: unset;
      gap: 20px;
    }

    span {
      font-size: 23px;

      @media (max-width: 376px) {
        font-size: 13.601px;
      }
    }

    svg {
      @media (max-width: 376px) {
        width: 23px;
        padding-top: 2px;
      }
    }
  }
}

.nftTime {
  gap: 24px;

  @media (max-width: 376px) {
    gap: 20px;
  }
  &__hours {
    font-size: 23.04px;
    line-height: 46.08px;

    @media (max-width: 376px) {
      font-size: 13.601px;
      line-height: 27.201px;
    }

    p {
      font-size: 14.4px;
      line-height: 0;

      @media (max-width: 376px) {
        font-size: 8.5px;
        line-height: 0;
      }
    }
  }
}

.nftTime-center {
  gap: 26px;
}

.swiper {
  &__blur-left {
    position: absolute;
    bottom: -102px;
    left: -63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    span {
      width: 300px;
      height: 70%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.06;
      z-index: -1;
    }
  }

  &__blur-right {
    position: absolute;
    bottom: -102px;
    right: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    span {
      width: 300px;
      height: 70%;
      background: #ff56f6;
      border-radius: 50%;
      box-shadow: 0 0 40px 50px #ff56f6;
      opacity: 0.06;
      z-index: -1;
    }
  }
}
