.sellers {
  margin-top: 167px;
  margin-bottom: 157px;

  @media (max-width: 520px) {
    margin-top: 110px;
    margin-bottom: 110px;
  }
  // .sellers__container

  &__container {
  }

  // .sellers__title

  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    left: 9px;

    @media (max-width: 520px) {
      left: 0;
    }

    h4 {
      font-size: 26.531px;
      font-weight: 700;

      @media (max-width: 520px) {
        font-size: 19.231px;
      }

      span {
        color: #ff56f6;
      }
    }

    svg {
      position: relative;
      top: 11px;
      left: 8px;

      @media (max-width: 520px) {
        top: 8px;
        left: 4px;
      }
    }
  }

  // .sellers__text

  &__text {
    max-width: 516px;
    margin: 0 auto;
    padding-top: 27px;
    padding-left: 15px;

    @media (max-width: 520px) {
      max-width: 328px;
      padding-top: 20px;
      padding-left: 0;
    }

    p {
      font-family: Roboto;
      font-size: 17.687px;
      font-style: normal;
      font-weight: 400;
      line-height: 140.188%;
      text-align: center;

      @media (max-width: 520px) {
        font-size: 14px;
      }
    }
  }

  // .sellers__card-wrapper

  &__card-wrapper {
    margin-top: 60px;
    padding-left: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 38px;

    @media (max-width: 1420px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 940px) {
      display: none;
    }
  }

  // .sellers__card

  &__card {
    display: flex;
    align-items: center;
    backdrop-filter: blur(37.90785598754883px);
    border: 1px solid rgba(255, 86, 246, 0.51);
    max-width: 437px;
    border-radius: 29px;
    padding: 21px 30px;
    gap: 15px;

    @media (max-width: 520px) {
      border-radius: 20px;
      padding: 19px 28px;
    }
  }

  // .sellers__card-num

  &__card-num {
    font-family: Roboto;
    font-size: 19.048px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.111px;

    @media (max-width: 520px) {
      font-size: 13.807px;
      position: relative;
      right: 9px;
    }
  }

  // .sellers__card-photo

  &__card-photo {
    @media (max-width: 520px) {
      position: relative;
      right: 14px;
      bottom: 1px;
    }
  }

  // .sellers__card-center

  &__card-center {
  }

  // .sellers__card-name

  &__card-name {
    font-family: Roboto;
    font-size: 19.048px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    padding-top: 10px;

    @media (max-width: 520px) {
      font-size: 13.807px;
      position: relative;
      bottom: 10px;
      right: 17px;
    }
  }

  // .sellers__card-quantity

  &__card-quantity {
    font-family: Roboto;
    font-size: 13.757px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.111px;
    padding-top: 3px;

    @media (max-width: 520px) {
      font-size: 9.972px;
      line-height: 0;
      position: relative;
      bottom: 7px;
      right: 20px;
    }

    svg {
      position: relative;
      top: 3px;
    }
  }

  // .sellers__card-percent

  &__card-percent {
    border: 1px solid;
    padding: 10px 17px;
    border-radius: 36px;
    position: relative;
    top: 8px;
    left: 48px;

    @media (max-width: 940px) {
      left: 10px;
    }

    @media (max-width: 520px) {
      padding: 6px 11px;
      top: 3px;
      left: 17px;
    }

    p {
      font-family: Roboto;
      font-size: 14.701px;
      font-style: normal;
      font-weight: 500;

      @media (max-width: 520px) {
        font-size: 10.656px;
      }
    }
  }

  &__btn {
    width: 235px;
    margin: 41px auto;
    position: relative;
    left: 8px;
    display: block;

    @media (max-width: 940px) {
      display: none;
    }
  }

  &__button {
    padding: 13px 15px 17px 17px;
    span {
      font-family: Rajdhani;
      font-size: 19.898px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__card-mobile {
    display: none;

    @media (max-width: 940px) {
      display: block;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 22px;
    }
  }

  &__mobile-button {
    display: none;
    @media (max-width: 940px) {
      display: block;
      margin-top: 35px;
    }
  }
}

.card-percent {
  &__green {
    background: rgba(0, 178, 71, 0.15);
    border: 1px solid #0f6;
    p {
      color: #0f6;
    }
  }
}
