.subscribe {
  margin-bottom: 104px;

  &__container {
    @media (max-width: 590px) {
      padding: 0 27px;
    }
  }

  // .subscribe__inner

  &__inner {
    display: flex;
    gap: 80px;

    @media (max-width: 1240px) {
      flex-direction: column-reverse;
    }
  }

  // .subscribe__inner-img

  &__inner-img {
    @media (max-width: 590px) {
        padding-top: 30px;
      }
    img {
      @media (max-width: 590px) {
        width: 100%;
        object-fit: cover;
        height: 380px;
      }
    }
  }

  // .subscribe__inner-content

  &__inner-content {
  }

  // .subscribe__inner-title

  &__inner-title {
    padding-top: 37px;
    h4 {
      font-family: Orbitron;
      font-size: 39.797px;
      font-style: normal;
      font-weight: 700;

      @media (max-width: 590px) {
        font-size: 26.27px;
      }
    }
  }

  // .subscribe__inner-text

  &__inner-text {
    max-width: 490.824px;
    padding-top: 33px;

    @media (max-width: 590px) {
      padding-top: 19px;
    }

    p {
      font-family: Inter;
      font-size: 19.898px;
      font-style: normal;
      font-weight: 400;
      line-height: 35.375px;

      @media (max-width: 590px) {
        font-size: 13.135px;
        line-height: 23.351px;
      }
    }
  }

  // .subscribe__inner-form

  &__inner-form {
    display: flex;
    gap: 10px;
    padding-top: 50px;

    @media (max-width: 590px) {
      padding-top: 32px;
      gap: 6px;
    }
  }

  // .subscribe__input

  &__input {
    padding: 13.476px 18.687px 18px;
    border-start-start-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 274px;
    color: var(--text-gray-800, #474A57);

    @media (max-width: 590px) {
      font-size: 8.716px;
      padding: 11.476px 9.687px;
      width: 180px;
      border-start-start-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  // .subscribe__button

  &__button {
    clip-path: unset;
    border-radius: unset;
    border-bottom-right-radius: 7px;
    border-start-end-radius: 7px;
    font-family: Inter;
    font-size: 15.476px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.109px;
    width: 147px;
    height: 55px;
    padding: 17px 0 21px 0px;

    &:hover {
      background: linear-gradient(270deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
      
    }

    @media (max-width: 590px) {
      font-size: 10.216px;
      width: 94.865px;
      height: 32.108px;
      border-start-start-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
