.userCard {
  // .userCard__wrapper

  &__wrapper {
    backdrop-filter: blur(30.400127410888672px);
    display: flex;
    gap: 47px;
    width: 336.06px;
    height: 181.295px;
    position: absolute;
    top: 373px;
    left: 155px;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 24%);
    padding: 17px 10px 17px 19px;
    padding-top: 26px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.1);

    @media (max-width: 768px) {
      left: 0;
      top: 307px;
    }

    @media (max-width: 376px) {
      width: 327px;
      top: 352px;
      border-radius: 10px;
      height: 177.295px;
      padding-top: 24px;
    }
  }

  // .userCard__left

  &__left {
  }

  // .userCard__left-title

  &__left-title {
    @media (max-width: 376px) {
      height: 10px;
    }

    h5 {
      font-family: Rajdhani;
      font-size: 17.687px;
      font-style: normal;
      font-weight: 700;
      line-height: 35.375px;

      @media (max-width: 376px) {
        font-size: 17.053px;
        line-height: 34.105px;
        padding-left: 3px;
      }
    }
  }

  // .userCard__user

  &__user {
    display: flex;
    gap: 4px;

    @media (max-width: 376px) {
      padding-top: 23px;
      gap: 4px;
    }
  }

  &__ok-icon {
    img {
      padding-top: 9px;
    }
  }

  // .userCard__user-icon

  &__user-icon {
    @media (max-width: 376px) {
      padding-top: 4px;
    }
  }

  // .userCard__user-userName

  &__user-userName {
    p {
      font-family: Rajdhani;
      font-size: 15.476px;
      font-style: normal;
      font-weight: 600;
      line-height: 35.375px;

      @media (max-width: 376px) {
        font-size: 14.921px;
        line-height: 34.105px;
      }
    }
  }

  // .userCard__text

  &__text {
    padding-top: 15px;

    @media (max-width: 376px) {
      padding-top: 8px;
      padding-left: 3px;
      height: 10px;
    }

    p {
      font-family: Rajdhani;
      font-size: 11.055px;
      font-style: normal;
      font-weight: 600;
      line-height: 17.375px;

      @media (max-width: 376px) {
        font-size: 10.658px;
        line-height: 34.105px;
      }
    }
  }

  // .userCard__eth

  &__eth {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 4px;
    right: 2px;

    @media (max-width: 376px) {
      padding-top: 21px;
    }

    p {
      font-size: 9.718px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 376px) {
        font-size: 9.369px;
      }

      span {
        font-family: Rajdhani;
        font-size: 11.055px;
        font-style: normal;
        font-weight: 400;
        line-height: 35.375px;
        color: #fff;
        opacity: 0.7;
      }
    }
  }

  &__button {
    gap: 8px;
    border-radius: 2.211px;
    padding: 11px 12px;

    @media(max-width:376px) {
      border-radius: 4.211px
    }

    &::before {
      border-radius: 2.211px;
    }
    span {
      font-family: Rajdhani;
      font-size: 17px;
      font-weight: 600;
    }
  }

  // .userCard__right

  &__right {
  }

  // .userCard__right-title

  &__right-title {
    padding-left: 8px;
    padding-top: 10px;

    @media (max-width: 376px) {
      padding-left: 8px;
      padding-top: 0;
      height: 10px;
    }
    p {
      font-family: Rajdhani;
      font-size: 11.055px;
      font-style: normal;
      font-weight: 600;
      line-height: 15.375px;
      color: #fff;
      opacity: 0.7;

      @media (max-width: 376px) {
        font-size: 10.658px;
        line-height: 34.105px;
      }
    }
  }

  // .userCard__right-time

  &__right-time {
    display: flex;
    gap: 20px;
    padding-bottom: 27px;
    padding-left: 7px;

    @media(max-width: 376px) {
      padding-top: 12px;
      gap: 18px;
    }
  }

  &__right-button {
    display: block;
    padding-top: 5px;
  }
}
.time {
  // .time__hours

  &__hours {
    font-family: Rajdhani;
    font-size: 17.687px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.375px;

    @media (max-width: 376px) {
      font-size: 17.053px;
      line-height: 34.105px;
    }

    p {
      font-family: Rajdhani;
      font-size: 11.055px;
      font-style: normal;
      font-weight: 500;
      line-height: 0px;
    }
  }
}

.button {
}
