.whatNft {
  margin-bottom: 157px;
  position: relative;
  min-height: 695px;
  display: flex;
  align-items: end;
  @media (max-width: 590px) {
    min-height: 398px;
    margin-bottom: 76px;
  }
  // .whatNft__container

  &__container {
    width: 100%;
    height: 100%;
    min-height: 619px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 46px;
    @media (max-width: 590px) {
      min-height: 398px;
      justify-content: center;
      padding: 0 15px;
    }
  }

  // .whatNft__inner

  &__inner {
  }

  // .whatNft__img

  &__img {
    img {
      width: 100%;
      height: 556.366px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      object-fit: cover;

      @media (max-width: 590px) {
        height: 300px;
      }
    }
  }

  // .whatNft__content-wrapper

  &__content-wrapper {
    max-width: 577px;
    border: 1px solid;
    border-radius: 2.883px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(72.80126190185547px);

    padding: 53px 69px;

    @media (max-width: 590px) {
      padding: 33px 27px  29px 41px;
      width: 334.397px;
      min-height: 275px;
      padding: 32px 38px 20px 38px;
    }
  }

  // .whatNft__content-title

  &__content-title {
    h3 {
      font-family: Inter;
      font-size: 44.509px;
      font-style: normal;
      font-weight: 800;
      line-height: 60.088px;
      letter-spacing: 1px;

      @media (max-width: 590px) {
        font-size: 25.87px;
        line-height: 34.925px;
      }
    }
  }

  // .whatNft__content-text

  &__content-text {
    max-width: 458.446px;
    padding-top: 21px;

    @media (max-width: 590px) {
      padding-top: 12px;
      max-width: 250px;
    }

    p {
      font-family: Inter;
      font-size: 20.029px;
      font-style: normal;
      font-weight: 400;
      line-height: 35.607px;

      @media (max-width: 590px) {
        font-size: 11.642px;
        line-height: 20.696px;
      }
    }
  }

  // .whatNft__content-btn

  &__content-btn {
    display: flex;
    padding-top: 43px;
    gap: 46px;

    @media (max-width: 590px) {
      padding-top: 25px;
      gap: 27px;
    }
  }

  // .whatNft__button

  &__button {
  }

  // .whatNft__button-left

  &__button-left {
    a {
      font-family: Inter;
      font-size: 17.804px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.706px;

      @media (max-width: 590px) {
        font-size: 10.348px;
        line-height: 15.522px;
      }
    }
  }

  // .whatNft__button-right

  &__button-right {
    display: flex;
    gap: 8px;
    align-items: center;
    
    @media(max-width: 590px){
      gap: 5px;
    }

    a {
      font-family: Inter;
      font-size: 17.804px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.706px;

      @media (max-width: 590px) {
        font-size: 10.348px;
        line-height: 15.522px;
      }
    }

    svg {
      @media (max-width: 590px) {
        width: 8px;
      }
    }
  }
}
