<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <div class="footer__inner-left">
        <div class="footer__inner-logo">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="130"
              height="140"
              viewBox="0 0 130 140"
              fill="none"
            >
              <g filter="url(#filter0_bd_2_253)">
                <path
                  d="M14.0921 20.8186L5.8623 15.9619L14.0871 27.5563L22.321 15.9619L14.0871 20.8186H14.0921ZM14.2144 0.745605L5.98798 14.3994L14.2144 19.2645L22.4442 14.4044L14.2144 0.745605Z"
                  fill="url(#paint0_linear_2_253)"
                />
              </g>
              <defs>
                <filter
                  id="filter0_bd_2_253"
                  x="-206.386"
                  y="-211.503"
                  width="441.078"
                  height="451.307"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feGaussianBlur
                    in="BackgroundImageFix"
                    stdDeviation="106.124"
                  />
                  <feComposite
                    in2="SourceAlpha"
                    operator="in"
                    result="effect1_backgroundBlur_2_253"
                  />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4.42184" />
                  <feGaussianBlur stdDeviation="53.6148" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 1 0 0 0 0 0.337255 0 0 0 0 0.964706 0 0 0 0.51 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="effect1_backgroundBlur_2_253"
                    result="effect2_dropShadow_2_253"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect2_dropShadow_2_253"
                    result="shape"
                  />
                </filter>
                <linearGradient
                  id="paint0_linear_2_253"
                  x1="5.8623"
                  y1="0.745605"
                  x2="26.0134"
                  y2="1.23055"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.183111" stop-color="#FF56F6" />
                  <stop offset="0.432593" stop-color="#B936EE" />
                  <stop offset="0.854443" stop-color="#3BACE2" />
                  <stop offset="1" stop-color="#406AFF" />
                </linearGradient>
              </defs>
            </svg>
          </a>
          <p>OceanNFT</p>
        </div>
        <div class="footer__inner-text">
          <p>
            Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc
            quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
          </p>
        </div>
        <div class="footer__inner-icon">
          <div class="footer__inner-round">
            <a href="#" class="icon-instagram"></a>
          </div>
          <div class="footer__inner-round">
            <a href="#" class="icon-social"></a>
          </div>
          <div class="footer__inner-round">
            <a href="#" class="icon-twitter"></a>
          </div>
          <div class="footer__inner-round">
            <a href="#" class="icon-youtube"></a>
          </div>
        </div>
      </div>
      <div class="footer__inner-right">
        <div class="footer__inner-ul dropdown">
          <h5 class="dropdown__title">
            Market place
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8" fill="none">
              <path d="M14.9999 1.32738C15.0005 1.49815 14.9651 1.66688 14.8965 1.82117C14.828 1.97546 14.7278 2.11139 14.6035 2.21897L8.17557 7.73997C7.98387 7.90809 7.74342 8 7.49528 8C7.24713 8 7.00668 7.90809 6.81498 7.73997L0.387019 2.02465C0.168236 1.83063 0.0306517 1.55183 0.00453305 1.24957C-0.0215856 0.947314 0.065901 0.646367 0.247747 0.412934C0.429592 0.179502 0.690901 0.0327053 0.974188 0.00483747C1.25748 -0.0230303 1.53954 0.0703143 1.75832 0.264336L7.50063 5.37383L13.2429 0.435796C13.4002 0.296018 13.5917 0.207228 13.7948 0.179932C13.9978 0.152637 14.204 0.187977 14.3888 0.281771C14.5736 0.375567 14.7294 0.52389 14.8377 0.709193C14.946 0.894495 15.0023 1.10902 14.9999 1.32738Z" fill="white" fill-opacity="0.54"/>
            </svg>
          </h5>
          <ul class="dropdown-toggle">
            <li>
              <a href="#" class="footer__inner-link">
                Overview
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Features <span>new</span>
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Tutorials
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Pricing
              </a> 
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Releases
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-ul dropdown">
          <h5 class="dropdown__title">
            Collectibles
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8" fill="none">
              <path d="M14.9999 1.32738C15.0005 1.49815 14.9651 1.66688 14.8965 1.82117C14.828 1.97546 14.7278 2.11139 14.6035 2.21897L8.17557 7.73997C7.98387 7.90809 7.74342 8 7.49528 8C7.24713 8 7.00668 7.90809 6.81498 7.73997L0.387019 2.02465C0.168236 1.83063 0.0306517 1.55183 0.00453305 1.24957C-0.0215856 0.947314 0.065901 0.646367 0.247747 0.412934C0.429592 0.179502 0.690901 0.0327053 0.974188 0.00483747C1.25748 -0.0230303 1.53954 0.0703143 1.75832 0.264336L7.50063 5.37383L13.2429 0.435796C13.4002 0.296018 13.5917 0.207228 13.7948 0.179932C13.9978 0.152637 14.204 0.187977 14.3888 0.281771C14.5736 0.375567 14.7294 0.52389 14.8377 0.709193C14.946 0.894495 15.0023 1.10902 14.9999 1.32738Z" fill="white" fill-opacity="0.54"/>
            </svg>
          </h5>
          <ul class="dropdown-toggle">
            <li>
              <a href="#" class="footer__inner-link">
                About
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Press
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Careers
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Contact
              </a> 
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Partners
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-ul dropdown">
          <h5 class="dropdown__title">
            Support
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8" fill="none">
              <path d="M14.9999 1.32738C15.0005 1.49815 14.9651 1.66688 14.8965 1.82117C14.828 1.97546 14.7278 2.11139 14.6035 2.21897L8.17557 7.73997C7.98387 7.90809 7.74342 8 7.49528 8C7.24713 8 7.00668 7.90809 6.81498 7.73997L0.387019 2.02465C0.168236 1.83063 0.0306517 1.55183 0.00453305 1.24957C-0.0215856 0.947314 0.065901 0.646367 0.247747 0.412934C0.429592 0.179502 0.690901 0.0327053 0.974188 0.00483747C1.25748 -0.0230303 1.53954 0.0703143 1.75832 0.264336L7.50063 5.37383L13.2429 0.435796C13.4002 0.296018 13.5917 0.207228 13.7948 0.179932C13.9978 0.152637 14.204 0.187977 14.3888 0.281771C14.5736 0.375567 14.7294 0.52389 14.8377 0.709193C14.946 0.894495 15.0023 1.10902 14.9999 1.32738Z" fill="white" fill-opacity="0.54"/>
            </svg>
          </h5>
          <ul class="dropdown-toggle">
            <li>
              <a href="#" class="footer__inner-link">
                Help Center
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Safety Center
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Legal
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Privacy policy
              </a> 
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Status
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-ul dropdown">
          <h5 class="dropdown__title">
            Legal
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8" fill="none">
              <path d="M14.9999 1.32738C15.0005 1.49815 14.9651 1.66688 14.8965 1.82117C14.828 1.97546 14.7278 2.11139 14.6035 2.21897L8.17557 7.73997C7.98387 7.90809 7.74342 8 7.49528 8C7.24713 8 7.00668 7.90809 6.81498 7.73997L0.387019 2.02465C0.168236 1.83063 0.0306517 1.55183 0.00453305 1.24957C-0.0215856 0.947314 0.065901 0.646367 0.247747 0.412934C0.429592 0.179502 0.690901 0.0327053 0.974188 0.00483747C1.25748 -0.0230303 1.53954 0.0703143 1.75832 0.264336L7.50063 5.37383L13.2429 0.435796C13.4002 0.296018 13.5917 0.207228 13.7948 0.179932C13.9978 0.152637 14.204 0.187977 14.3888 0.281771C14.5736 0.375567 14.7294 0.52389 14.8377 0.709193C14.946 0.894495 15.0023 1.10902 14.9999 1.32738Z" fill="white" fill-opacity="0.54"/>
            </svg>
          </h5>
          <ul class="dropdown-toggle">
            <li>
              <a href="#" class="footer__inner-link">
                Cookies Policy
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Terms of Service
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Law Enforcement
              </a> 
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Status
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-ul dropdown">
          <h5 class="dropdown__title">
            Follow us
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="8" viewBox="0 0 15 8" fill="none">
              <path d="M14.9999 1.32738C15.0005 1.49815 14.9651 1.66688 14.8965 1.82117C14.828 1.97546 14.7278 2.11139 14.6035 2.21897L8.17557 7.73997C7.98387 7.90809 7.74342 8 7.49528 8C7.24713 8 7.00668 7.90809 6.81498 7.73997L0.387019 2.02465C0.168236 1.83063 0.0306517 1.55183 0.00453305 1.24957C-0.0215856 0.947314 0.065901 0.646367 0.247747 0.412934C0.429592 0.179502 0.690901 0.0327053 0.974188 0.00483747C1.25748 -0.0230303 1.53954 0.0703143 1.75832 0.264336L7.50063 5.37383L13.2429 0.435796C13.4002 0.296018 13.5917 0.207228 13.7948 0.179932C13.9978 0.152637 14.204 0.187977 14.3888 0.281771C14.5736 0.375567 14.7294 0.52389 14.8377 0.709193C14.946 0.894495 15.0023 1.10902 14.9999 1.32738Z" fill="white" fill-opacity="0.54"/>
            </svg>
          </h5>
          <ul class="dropdown-toggle">
            <li>
              <a href="#" class="footer__inner-link">
                Facebook
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Twitter
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Dribbble
              </a>
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                Instagram
              </a> 
            </li>
            <li>
              <a href="#" class="footer__inner-link">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__wrapper">
      <div class="footer__copyright">
        <p>© 2020 Landify UI Kit. All rights reserved</p>
      </div>
      <div class="footer__right">
        <a href="#">
          <div class="footer__terms">Terms & Conditions</div>
        </a>
        <a href="#">
          <div class="footer__privacy">Privacy Policy</div>
        </a>
        <a href="#">
          <div class="footer__sitemap">Sitemap</div>
        </a>
      </div>
    </div>
  </div>
</footer>
