<div class="userCard__wrapper">
  <div class="userCard__left">
    <div class="userCard__left-title">
      <h5>3D Abstract Hand</h5>
    </div>
    <div class="userCard__user">
      <div class="userCard__user-icon">
        <img src="./images/hero/user.png" alt="avatar" />
      </div>
      <div class="userCard__user-userName">
        <p>@jhonartist</p>
      </div>
      <div class="userCard__ok-icon">
        <img src="./images/hero/ok.png" alt="ok-icon" />
      </div>
    </div>
    <div class="userCard__text">
      <p>Reserve price</p>
    </div>
    <div class="userCard__eth">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M9.87327 1.10034L4.41006 10.1662L9.87327 7.6831V1.10034Z" fill="white"/>
        <path d="M9.87327 7.68286L4.41006 10.1659L9.87327 13.3961V7.68286Z" fill="white"/>
        <path d="M15.3371 10.1662L9.87286 1.10034V7.6831L15.3371 10.1662Z" fill="white"/>
        <path d="M9.87286 13.3961L15.3371 10.1659L9.87286 7.68286V13.3961Z" fill="white"/>
        <path d="M4.41006 11.2029L9.87327 18.9022V14.431L4.41006 11.2029Z" fill="white"/>
        <path d="M9.87286 14.431V18.9022L15.3401 11.2029L9.87286 14.431Z" fill="white"/>
        </svg>
      <p>ETH 9.31 <span>($29,8846)</span></p>
    </div>
  </div>
  <div class="userCard__right">
    <div class="userCard__right-title">
      <p>Auction Ends in</p>
    </div>
    <div class="userCard__right-time time">
      <div class="time__hours">
        18
        <p>Hours</p>
      </div>
      <div class="time__hours">
        25
        <p>Mins</p>
      </div>
      <div class="time__hours">
        44
        <p>Secs</p>
      </div>
    </div>
    <div class="userCard__right-button">
      <a href="#" class="button button-second userCard__button"
        ><span>Place Bid</span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="10"
          viewBox="0 0 25 10"
          fill="none"
        >
          <path
            d="M19.3086 8.29153L22.6015 4.99867L19.3086 1.70581L19.9672 0.388672L24.5772 4.99867L19.9672 9.60867L19.3086 8.29153Z"
            fill="white"
          />
          <line
            x1="23.4717"
            y1="5.36328"
            x2="0.257097"
            y2="5.36328"
            stroke="white"
            stroke-width="1.10546"
          /></svg
      ></a>
    </div>
  </div>
</div>
