// =====================================================================================================================
.header {
  min-height: 128px;
  display: flex;
  align-items: center;

  @media(max-width: 376px) {
    min-height: 73px;
  }

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 226px;
    padding-left: 20px;

    @media (max-width: 1140px) {
      gap: 30px;
    }

    @media(max-width: 767px) {
      justify-content: space-between;
    }

    @media(max-width: 376px) {
      justify-content: unset;
      gap: 185px;
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo-icon {
    padding-right: 19px;
    width: 16.582px;
    height: 30.811px;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 39px;

    a {
      &:hover {
        &::before {
          color: #ff56f6;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.icon {
  &__box {
    &::before {
      font-size: 28px;
    }
  }

  &__user {
    &::before {
      font-size: 24px;
    }
  }
}

.logo {
  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 19.898px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media(max-width: 376px) {
      font-size: 15.898px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 483px;

  @media (max-width: 1440px) {
    gap: 200px;
  }

  @media (max-width: 1140px) {
    gap: 40px;
  }

  @media(max-width: 767px) {
    opacity: 0;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f1947;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 5;

    &._active {
      display: flex;
      flex-direction: column;
      overflow: visible;
      visibility: visible;
      pointer-events: unset;
      opacity: 1;
      top: 0;
    }
  }

  &__list {
    display: flex;
    gap: 67px;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
  }

  &__item {
    a {
      @media(min-width: 920px) {
        &:hover {
          color: #FF56F6;
          transition: all 0.2s ease;
        }
      }
    } 
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 19.898px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
// =====================================================================================================================

// Burger

.icon-menu {
  display: none;
  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      width: 22px;
      top: 0;
      border-radius: 10px;
    }
    &::after {
      bottom: 0;
      width: 22px;
      border-radius: 10px;
    }
    span {
      top: calc(50% - rem(1));
      width: 13px;
      border-radius: 10px;
    }
    &._active {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

