<section class="cardUser">
  <div class="cardUser__container">
    <div class="cardUser__inner">
      <div class="collection__title cardUser__title">
        <h5>Explore Collections</h5>
      </div>
      <a href="#" class="nft__button cardUser__button icon-arrowShort"
        >View all</a
      >
    </div>

    <!-- Slider main container -->
    <div class="swiper cardUser__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          
          <div class="cardUser__wrapper">
            <div class="cardUser__img">
              <img src="./images/cardUser/bg.png" loading="lazy" alt="bg" />
            </div>
            <div class="cardUser__content-wrapper">
              <div class="cardUser__content-icon">
                <img src="./images/cardUser/user1.png" loading="lazy" alt="userPhoto" />
              </div>
              <div class="userCard__left-title cardUser__name">
                <h5>Jhones Nickey</h5>
              </div>
              <div class="userCard__user-userName cardUser__mail">
                <p>@jhonartist</p>
                <div class="nftCard__ok-icon cardUser__ok-icon">
                    <img src="./images/nft/nftOk.png" alt="ok-icon" />
                  </div>
              </div>
              <div class="cardUser__follower-wrapper">
                <div class="cardUser__follower">
                    125
                    <p>Followers</p>
                </div>
                <div class="cardUser__follower">
                    256
                    <p>Following</p>
                </div>
                <div class="cardUser__follower">
                    129
                    <p>Artworks</p>
                </div>
              </div>
              <div class="nftCard__right-button cardUser__follower-btn">
                <a
                  href="#"
                  class="button button-second nftCard__button cardUser__follower-button"
                  ><span>Follow</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
            <div class="cardUser__wrapper">
                <div class="cardUser__img">
                  <img src="./images/cardUser/bg.png" loading="lazy" alt="bg" />
                </div>
                <div class="cardUser__content-wrapper">
                  <div class="cardUser__content-icon">
                    <img src="./images/cardUser/user2.png" loading="lazy" alt="userPhoto" />
                  </div>
                  <div class="userCard__left-title cardUser__name">
                    <h5>Cody Fisher</h5>
                  </div>
                  <div class="userCard__user-userName cardUser__mail">
                    <p>@codyfishe</p>
                    <div class="nftCard__ok-icon cardUser__ok-icon">
                        <img src="./images/nft/nftOk.png" alt="ok-icon" />
                      </div>
                  </div>
                  <div class="cardUser__follower-wrapper">
                    <div class="cardUser__follower">
                        356
                        <p>Followers</p>
                    </div>
                    <div class="cardUser__follower">
                        456
                        <p>Following</p>
                    </div>
                    <div class="cardUser__follower">
                        89
                        <p>Artworks</p>
                    </div>
                  </div>
                  <div class="nftCard__right-button cardUser__follower-btn">
                    <a
                      href="#"
                      class="button button-second nftCard__button cardUser__follower-button"
                      ><span>Follow</span>
                    </a>
                  </div>
                </div>
              </div>
        </div>
        <div class="swiper-slide">
            <div class="cardUser__wrapper">
                <div class="cardUser__img">
                  <img src="./images/cardUser/bg.png" loading="lazy" alt="bg" />
                </div>
                <div class="cardUser__content-wrapper">
                  <div class="cardUser__content-icon">
                    <img src="./images/cardUser/user3.png" loading="lazy" alt="userPhoto" />
                  </div>
                  <div class="userCard__left-title cardUser__name">
                    <h5>Jerome Bell</h5>
                  </div>
                  <div class="userCard__user-userName cardUser__mail">
                    <p>@jeromebt</p>
                    <div class="nftCard__ok-icon cardUser__ok-icon">
                        <img src="./images/nft/nftOk.png" alt="ok-icon" />
                      </div>
                  </div>
                  <div class="cardUser__follower-wrapper">
                    <div class="cardUser__follower">
                        546
                        <p>Followers</p>
                    </div>
                    <div class="cardUser__follower">
                        789
                        <p>Following</p>
                    </div>
                    <div class="cardUser__follower">
                        54
                        <p>Artworks</p>
                    </div>
                  </div>
                  <div class="nftCard__right-button cardUser__follower-btn">
                    <a
                      href="#"
                      class="button button-second nftCard__button cardUser__follower-button"
                      ><span>Follow</span>
                    </a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardUser__mobile-button">
    <a href="#" class="button hero__button nft__swiper-button"
      ><span>Explore</span>
      <svg
        class="svg"
        xmlns="http://www.w3.org/2000/svg"
        width="53"
        height="17"
        viewBox="0 0 53 17"
        fill="none"
      >
        <path
          d="M43.3723 14.101L48.8995 8.57366L43.3723 3.04637L44.4777 0.835449L52.2159 8.57366L44.4777 16.3119L43.3723 14.101Z"
          fill="white"
        />
        <line
          x1="48.8995"
          y1="8.57372"
          x2="0.259327"
          y2="8.57372"
          stroke="white"
          stroke-width="2.21092"
        />
      </svg>
    </a>
  </div>
</section>
