<section class="collection">
    <div class="collection__container">
        <div class="collection__title">
            <h5>Explore Collections</h5>
            <div class="collection__title-blur">
                <span></span>
            </div>
        </div>
        <div class="collection__inner">
            <div class="collection__inner-btn">
                <button type="button" data-filter=".photography">Photography</button>
                <button type="button" data-filter=".sports">Sports</button>
                <button type="button" data-filter=".brands">Brands</button>
                <button type="button" data-filter=".collectibles">Collectibles</button>
                <button type="button" data-filter=".art">Art</button>
                <button type="button" data-filter=".utility">Utility</button>
                <button type="button" data-filter=".brands2">Brands</button>
                <button type="button" data-filter=".collectibles2">Collectibles</button>

                <a href="#" class="nft__button collection__button-btn icon-arrowShort">View all</a>
            </div>

            <div class="collection__inner-box">
                <div class="collection__item mix photography">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix brands">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix art">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix brands2">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix sports">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix collectibles">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix utility">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
                <div class="collection__item mix collectibles2">
                    <div class="collection__item-img">
                        <img src="./images/collection/img1.png" loading="lazy" alt="img">
                    </div>
                </div>
            </div>
            <div class="collection__inner-blur">
                <span></span>
            </div>
        </div>
    </div>
</section>