<section class="cripto">
    <div class="cripto__container">
        <div class="cripto__wrapper cripto__wrapper-desktop">
            <div class="cripto__logo ">
                <img src="./images/cripto/binance.png" loading="lazy" alt="logo-binance">   
            </div>
            <div class="cripto__logo cripto__eth-desktop">
                <img src="./images/cripto/ethereum.png" loading="lazy" alt="logo-ethereum">
            </div>
            <div class="cripto__logo cripto__blockchain-desktop">
                <img src="./images/cripto/blockchain.png" loading="lazy" alt="logo-blockchain">
            </div>
            <div class="cripto__logo cripto__bitmex-desktop">
                <img src="./images/cripto/bitmex.png" loading="lazy" alt="logo-bitmex">
            </div>
        </div>
        <div class="hero__right hero__right-mobile">
            <div class="hero__right-img hero__right-img-mobile">
              <img src="./images/hero/card-mobile.png" loading="lazy" alt="card"/>
              @@include('../components/userCard.html', {})
            </div>
          </div>
    </div>
</section>