<section class="hero">
  <div class="hero__container">
    <div class="hero__wrapper">
      <div class="hero__left">
        <div class="hero__left-title">
          <h1>Discover, collect, and sell <span>Timeless</span> NFTs</h1>
        </div>
        <div class="hero__left-text">
          <p>
            The world’s first and largest digital marketplace for crypto
            collectibles and non- fungible tokens (NFTs).
          </p>
        </div>
        <div class="hero__left-button">
          <a href="#" class="button hero__button"
            ><span>Explore</span
            ><svg
              class="svg"
              xmlns="http://www.w3.org/2000/svg"
              width="53"
              height="17"
              viewBox="0 0 53 17"
              fill="none"
            >
              <path
                d="M43.3723 14.101L48.8995 8.57366L43.3723 3.04637L44.4777 0.835449L52.2159 8.57366L44.4777 16.3119L43.3723 14.101Z"
                fill="white"
              />
              <line
                x1="48.8995"
                y1="8.57372"
                x2="0.259327"
                y2="8.57372"
                stroke="white"
                stroke-width="2.21092"
              /></svg
          ></a>
          <a href="#">
            <p>Create NFT’s</p>
          </a>
        </div>
        <div class="hero__left-quantity quantity">
          <div class="quantity__artwork">
            35m+
            <p>Artwork</p>
            <div class="quantity__blur">
              <span></span>
            </div>
          </div>
          <div class="quantity__wrapper">
            <div class="quantity__auctions">
                18m+
                <p>Auctions</p>
              </div>
              <div class="quantity__artists">
                500k+
                <p>Artists</p>
              </div>
          </div>
        </div>
      </div>
      <div class="hero__right hero__right-desktop">
        <div class="hero__right-img">
          <img src="./images/hero/card.png" loading="lazy" alt="card" />
          <div class="hero__right-line">
            <svg xmlns="http://www.w3.org/2000/svg" width="118" height="23" viewBox="0 0 118 23" fill="none">
              <path d="M2.62177 3.40049C8.10702 11.7344 22.9018 24.3927 39.3576 20.3828C52.8486 17.0954 62.0591 5.92504 73.0803 3.40049C89.5361 -0.368906 107.614 6.93837 115.379 11.302" stroke="#CCCCCC" stroke-opacity="0.05" stroke-width="3.31638" stroke-linecap="round"/>
              </svg>
          </div>
          <div class="hero__right-blur">
            <span></span>
          </div>
          <div class="hero__right-blur2">
            <span></span>
          </div>
          @@include('../components/userCard.html', {})
        </div>
      </div>
      <section class="cripto hero__cripto">
        <div class="cripto__container">
            <div class="cripto__wrapper">
              <div class="cripto__wrapper-top">
                <div class="cripto__logo">
                  <img src="./images/cripto/binance.png" loading="lazy" alt="logo-binance">   
              </div>
              <div class="cripto__logo cripto__logo-ethereum">
                  <img src="./images/cripto/ethereum.png" loading="lazy" alt="logo-ethereum">
              </div>
              </div>
              <div class="cripto__wrapper-bottom">
                <div class="cripto__logo cripto__logo-blockchain">
                  <img src="./images/cripto/blockchain.png" loading="lazy" alt="logo-blockchain">
              </div>
              <div class="cripto__logo cripto__logo-bitmex">
                  <img src="./images/cripto/bitmex.png" loading="lazy" alt="logo-bitmex">
              </div>
              </div> 
            </div>
        </div>
    </section>
    </div>
  </div>
</section>
