<section class="nft">
  <div class="nft__container">
    <div class="nft__title-wrapper">
      <div class="nft__title">
        <h3>Top NFT’s now</h3>
      </div>
      <a href="#" class="nft__button icon-arrowShort">View all</a>
    </div>
    <!-- Slider main container -->
    <div class="swiper nft__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper-slide__wrapper">
            <div class="swiper-slide__img nft__slide-img">
              <img src="./images/nft/image1.png" loading="lazy" alt="nft" />
            </div>
            <div class="userCard__wrapper nftCard__wrapper">
              <div class="userCard__left nftCard__left">
                <div class="userCard__left-title nftCard__left-title">
                  <h5>Apollo Eth #1289 NFT</h5>
                </div>
                <div class="userCard__user nftCard__user">
                  <div class="userCard__user-icon nftCard__user-icon">
                    <img src="./images/nft/avatar1.png" alt="avatar" />
                  </div>
                  <div class="userCard__user-userName nftCard__user-userName">
                    <p>@jhonartist</p>
                  </div>
                  <div class="userCard__ok-icon nftCard__ok-icon">
                    <img src="./images/nft/nftOk.png" alt="ok-icon" />
                  </div>
                </div>
                <div class="userCard__text nftCard__text">
                  <p>Reserve price</p>
                </div>
                <div class="userCard__eth nftCard__eth">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="26"
                    viewBox="0 0 27 26"
                    fill="none"
                  >
                    <path
                      d="M13.5767 1.37207L6.46021 13.1815L13.5767 9.94699V1.37207Z"
                      fill="white"
                    />
                    <path
                      d="M13.5767 9.9469L6.46021 13.1814L13.5767 17.3891V9.9469Z"
                      fill="white"
                    />
                    <path
                      d="M20.6943 13.1815L13.5765 1.37207V9.94699L20.6943 13.1815Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 17.3891L20.6943 13.1814L13.5765 9.9469V17.3891Z"
                      fill="white"
                    />
                    <path
                      d="M6.46021 14.5317L13.5767 24.5611V18.7368L6.46021 14.5317Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 18.7368V24.5611L20.6983 14.5317L13.5765 18.7368Z"
                      fill="white"
                    />
                  </svg>
                  <p>ETH 9.31 <span>($29,8846)</span></p>
                </div>
              </div>
              <div class="userCard__right nftCard__right">
                <div class="userCard__right-title nftCard__right-title">
                  <p>Auction Ends in</p>
                </div>
                <div
                  class="userCard__right-time nftCard__right-time time nftTime"
                >
                  <div class="time__hours nftTime__hours">
                    18
                    <p>Hours</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    25
                    <p>Mins</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    44
                    <p>Secs</p>
                  </div>
                </div>
                <div class="userCard__right-button nftCard__right-button">
                  <a
                    href="#"
                    class="button button-second userCard__button nftCard__button"
                    ><span>Place Bid</span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="13"
                      viewBox="0 0 33 13"
                      fill="none"
                    >
                      <path
                        d="M25.5948 11.0426L29.8842 6.75318L25.5948 2.4638L26.4527 0.748047L32.4578 6.75318L26.4527 12.7583L25.5948 11.0426Z"
                        fill="white"
                      />
                      <line
                        x1="31.0183"
                        y1="7.22794"
                        x2="0.778194"
                        y2="7.22794"
                        stroke="white"
                        stroke-width="1.44001"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrapper">
            <div class="swiper-slide__img nft__slide-img">
              <img src="./images/nft/image2.png" loading="lazy" alt="nft" />
            </div>
            <div
              class="userCard__wrapper nftCard__wrapper nftCard__wrapper-center"
            >
              <div class="userCard__left nftCard__left">
                <div class="userCard__left-title nftCard__left-title">
                  <h5>Sassy Bull #1169 Art</h5>
                </div>
                <div class="userCard__user nftCard__user">
                  <div class="userCard__user-icon nftCard__user-icon">
                    <img src="./images/nft/avatar2.png" alt="avatar" />
                  </div>
                  <div class="userCard__user-userName nftCard__user-userName">
                    <p>@jhonartist</p>
                  </div>
                  <div class="userCard__ok-icon nftCard__ok-icon">
                    <img src="./images/nft/nftOk.png" alt="ok-icon" />
                  </div>
                </div>
                <div class="userCard__text nftCard__text">
                  <p>Reserve price</p>
                </div>
                <div class="userCard__eth nftCard__eth">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="26"
                    viewBox="0 0 27 26"
                    fill="none"
                  >
                    <path
                      d="M13.5767 1.37207L6.46021 13.1815L13.5767 9.94699V1.37207Z"
                      fill="white"
                    />
                    <path
                      d="M13.5767 9.9469L6.46021 13.1814L13.5767 17.3891V9.9469Z"
                      fill="white"
                    />
                    <path
                      d="M20.6943 13.1815L13.5765 1.37207V9.94699L20.6943 13.1815Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 17.3891L20.6943 13.1814L13.5765 9.9469V17.3891Z"
                      fill="white"
                    />
                    <path
                      d="M6.46021 14.5317L13.5767 24.5611V18.7368L6.46021 14.5317Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 18.7368V24.5611L20.6983 14.5317L13.5765 18.7368Z"
                      fill="white"
                    />
                  </svg>
                  <p>ETH 9.31 <span>($29,8846)</span></p>
                </div>
              </div>
              <div class="userCard__right nftCard__right">
                <div
                  class="userCard__right-title nftCard__right-title nftCard__right-title-center"
                >
                  <p>Auction Ends in</p>
                </div>
                <div
                  class="userCard__right-time nftCard__right-time nftCard__right-time-center time nftTime nftTime-center"
                >
                  <div class="time__hours nftTime__hours">
                    09
                    <p>Hours</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    15
                    <p>Mins</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    23
                    <p>Secs</p>
                  </div>
                </div>
                <div class="userCard__right-button nftCard__right-button">
                  <a
                    href="#"
                    class="button button-second userCard__button nftCard__button"
                    ><span>Place Bid</span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="13"
                      viewBox="0 0 33 13"
                      fill="none"
                    >
                      <path
                        d="M25.5948 11.0426L29.8842 6.75318L25.5948 2.4638L26.4527 0.748047L32.4578 6.75318L26.4527 12.7583L25.5948 11.0426Z"
                        fill="white"
                      />
                      <line
                        x1="31.0183"
                        y1="7.22794"
                        x2="0.778194"
                        y2="7.22794"
                        stroke="white"
                        stroke-width="1.44001"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__wrapper">
            <div class="swiper-slide__img nft__slide-img">
              <img src="./images/nft/image3.png" loading="lazy" alt="nft" />
            </div>
            <div
              class="userCard__wrapper nftCard__wrapper nftCard__wrapper-right"
            >
              <div class="userCard__left nftCard__left">
                <div class="userCard__left-title nftCard__left-title">
                  <h5>Satisfying 3D Art</h5>
                </div>
                <div class="userCard__user nftCard__user">
                  <div class="userCard__user-icon nftCard__user-icon">
                    <img src="./images/nft/avatar3.png" alt="" />
                  </div>
                  <div class="userCard__user-userName nftCard__user-userName">
                    <p>@jhonartist</p>
                  </div>
                  <div class="userCard__ok-icon nftCard__ok-icon">
                    <img src="./images/nft/nftOk.png" alt="ok-icon" />
                  </div>
                </div>
                <div class="userCard__text nftCard__text">
                  <p>Reserve price</p>
                </div>
                <div class="userCard__eth nftCard__eth">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="27"
                    height="26"
                    viewBox="0 0 27 26"
                    fill="none"
                  >
                    <path
                      d="M13.5767 1.37207L6.46021 13.1815L13.5767 9.94699V1.37207Z"
                      fill="white"
                    />
                    <path
                      d="M13.5767 9.9469L6.46021 13.1814L13.5767 17.3891V9.9469Z"
                      fill="white"
                    />
                    <path
                      d="M20.6943 13.1815L13.5765 1.37207V9.94699L20.6943 13.1815Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 17.3891L20.6943 13.1814L13.5765 9.9469V17.3891Z"
                      fill="white"
                    />
                    <path
                      d="M6.46021 14.5317L13.5767 24.5611V18.7368L6.46021 14.5317Z"
                      fill="white"
                    />
                    <path
                      d="M13.5765 18.7368V24.5611L20.6983 14.5317L13.5765 18.7368Z"
                      fill="white"
                    />
                  </svg>
                  <p>ETH 9.31 <span>($29,8846)</span></p>
                </div>
              </div>
              <div class="userCard__right nftCard__right">
                <div class="userCard__right-title nftCard__right-title">
                  <p>Auction Ends in</p>
                </div>
                <div
                  class="userCard__right-time nftCard__right-time time nftTime"
                >
                  <div class="time__hours nftTime__hours">
                    23
                    <p>Hours</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    32
                    <p>Mins</p>
                  </div>
                  <div class="time__hours nftTime__hours">
                    56
                    <p>Secs</p>
                  </div>
                </div>
                <div class="userCard__right-button nftCard__right-button">
                  <a
                    href="#"
                    class="button button-second userCard__button nftCard__button"
                    ><span>Place Bid</span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="13"
                      viewBox="0 0 33 13"
                      fill="none"
                    >
                      <path
                        d="M25.5948 11.0426L29.8842 6.75318L25.5948 2.4638L26.4527 0.748047L32.4578 6.75318L26.4527 12.7583L25.5948 11.0426Z"
                        fill="white"
                      />
                      <line
                        x1="31.0183"
                        y1="7.22794"
                        x2="0.778194"
                        y2="7.22794"
                        stroke="white"
                        stroke-width="1.44001"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="swiper__blur-left">
      <span></span>
    </div>
    <div class="swiper__blur-right">
      <span></span>
    </div>
  </div>
  <div class="nft__mobile-button">
    <a href="#" class="button hero__button nft__swiper-button"
      ><span>Explore</span>
      <svg
        class="svg"
        xmlns="http://www.w3.org/2000/svg"
        width="53"
        height="17"
        viewBox="0 0 53 17"
        fill="none"
      >
        <path
          d="M43.3723 14.101L48.8995 8.57366L43.3723 3.04637L44.4777 0.835449L52.2159 8.57366L44.4777 16.3119L43.3723 14.101Z"
          fill="white"
        />
        <line
          x1="48.8995"
          y1="8.57372"
          x2="0.259327"
          y2="8.57372"
          stroke="white"
          stroke-width="2.21092"
        />
      </svg>
    </a>
  </div>
</section>
