<section class="sellers">
    <div class="sellers__container">
        <div class="sellers__title">
            <h4>Top Sellers this <span>Month</span></h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                <path d="M12.16 1.82482C12.1604 1.97921 12.1318 2.13175 12.0762 2.27124C12.0206 2.41073 11.9394 2.53363 11.8386 2.63089L6.62768 7.62233C6.47228 7.77433 6.27735 7.85742 6.07619 7.85742C5.87502 7.85742 5.6801 7.77433 5.5247 7.62233L0.313745 2.45521C0.136384 2.2798 0.0248484 2.02773 0.00367478 1.75447C-0.0174988 1.48121 0.0534239 1.20913 0.20084 0.998083C0.348257 0.78704 0.560092 0.654324 0.789744 0.629129C1.0194 0.603934 1.24805 0.688325 1.42541 0.863737L6.08053 5.48314L10.7356 1.01875C10.8631 0.892381 11.0184 0.812107 11.183 0.787429C11.3476 0.762752 11.5147 0.794702 11.6646 0.8795C11.8144 0.964299 11.9407 1.0984 12.0285 1.26592C12.1163 1.43345 12.1619 1.6274 12.16 1.82482Z" fill="#FF56F6"/>
            </svg>
        </div>
        <div class="sellers__text">
            <p>
                Amet minim mollit non deserunt ullamco est sit aliqua 
                dolor do amet sint. Velit officia consequat duis enim minim 
                mollit.
            </p>
        </div>
        <div class="sellers__card-wrapper">
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/user1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
        </div>
        <div class="nftCard__right-button sellers__btn">
            <a
              href="#"
              class="button button-second nftCard__button sellers__button"
              ><span>Explore all</span>
            </a>
          </div>

          <div class="sellers__card-mobile">
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/mobile1.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/mobile2.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/mobile3.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
            <div class="sellers__card">
                <div class="sellers__card-num">1</div>
                <div class="sellers__card-photo">
                    <img src="./images/sellers/mobile4.png" loading="lazy" alt="userPhoto">
                </div>
                <div class="sellers__card-center">
                    <div class="sellers__card-name">Eleanor Pena</div>
                    <div class="sellers__card-quantity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <path d="M4.48949 11.0194L0.287842 8.52734L4.48692 14.4766L8.6907 8.52734L4.48692 11.0194H4.48949ZM4.55194 0.719727L0.352002 7.7256L4.55194 10.222L8.75358 7.72818L4.55194 0.719727Z" fill="white" fill-opacity="0.8"/>
                        </svg>
                        74875
                    </div>
                </div>
                <div class="sellers__card-percent card-percent__green">
                    <p>+468.48%</p>
                </div>
            </div>
          </div>
          <div class="cardUser__mobile-button sellers__mobile-button">
            <a href="#" class="button hero__button nft__swiper-button"
              ><span>Explore</span>
              <svg
                class="svg"
                xmlns="http://www.w3.org/2000/svg"
                width="53"
                height="17"
                viewBox="0 0 53 17"
                fill="none"
              >
                <path
                  d="M43.3723 14.101L48.8995 8.57366L43.3723 3.04637L44.4777 0.835449L52.2159 8.57366L44.4777 16.3119L43.3723 14.101Z"
                  fill="white"
                />
                <line
                  x1="48.8995"
                  y1="8.57372"
                  x2="0.259327"
                  y2="8.57372"
                  stroke="white"
                  stroke-width="2.21092"
                />
              </svg>
            </a>
          </div>
    </div>
</section>