<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__inner">
      <div class="subscribe__inner-img">
        <img src="./images/subscribe/bg.png" loading="lazy" alt="bg" />
      </div>
      <div class="subscribe__inner-content">
        <div class="subscribe__inner-title">
          <h4>Subscribe to us</h4>
        </div>
        <div class="subscribe__inner-text">
          <p>
            Specially developed to help restore a more youthful appearance with
            improved radiance and bounce.
          </p>
        </div>
        <form action="#" class="subscribe__inner-form">
          <input type="text" class="subscribe__input" placeholder="Your work email address" />
          <button type="submit" class="button subscribe__button">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
