<section class="whatNft">
  <div class="whatNft__img">
    <img src="./images/whatNft/bg.png" loading="lazy" alt="img-bg" />
  </div>
  <div class="whatNft__container">
    <div class="whatNft__content-wrapper">
      <div class="whatNft__content-title">
        <h3>What are NFT’s ?</h3>
      </div>
      <div class="whatNft__content-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum quis
          amet, faucibus lorem. Lectus amet odio quis sed adipiscing adipiscing
          magna non. Nullam turpis faucibus ridiculus suscipit. Et blandit
          suspendisse curabitur eu congue dui ut.
        </p>
      </div>
      <div class="whatNft__content-btn whatNft__button">
        <div class="whatNft__button-left">
          <a href="#">Learn more</a>
        </div>
        <div class="whatNft__button-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="19"
            viewBox="0 0 13 19"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.805781 0.863085C0.6895 0.777549 0.535352 0.764389 0.406449 0.830186C0.277929 0.895983 0.196838 1.02951 0.196838 1.17543V18.2052C0.196838 18.3512 0.277929 18.4847 0.406449 18.5505C0.460764 18.5784 0.520435 18.5923 0.57934 18.5923C0.659283 18.5923 0.738843 18.5671 0.805781 18.5176L12.2808 10.0027C12.3791 9.92953 12.4369 9.81341 12.4369 9.69034C12.4369 9.56726 12.3791 9.45114 12.2808 9.37799L0.805781 0.863085Z"
              fill="white"
            />
          </svg>
          <a href="#">Watch video</a>
        </div>
      </div>
    </div>
  </div>
</section>
